body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}

/* Click cursor for clickable rows*/
.clickable-row {
    cursor: pointer;
}

.radiant {
    color: hsl(90, 70%, 40%);
}

.dire {
    color: hsl(0, 70%, 40%);
}

.match-header {
    margin-top: 16px;
    padding: 8px;
    background-color: hsl(0, 0%, 98%) !important;
    box-shadow: 0px 0px 10px hsl(0, 0%, 80%);
}

.match-title {
    font-size: 24pt;
}

.match-info {
    font-size: 12pt;
}

.match-info-title {
    font-weight: bold;
}

.match-info-value {
}

.matches-indicator {
}

.matches-site {
    padding: 6px;
}

.matches-site-current {
    background-color: rgb(240, 240, 240);
}

.matches-site:hover {
    background-color: rgb(230, 230, 230);
}

a.matches-site{
    color: black;
}

.builder-icon {
    height: 28px;
}

.builder-icon-big {
    height: 48px;
}

.vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
 }

 .gold {
     color : goldenrod;
 }

 .notification-box {
     background-color: hsl(90, 60%, 75%);
     padding: 8px;
     color: #111111;
     border-radius: 8px;
 }
