@page
@model BugModel
@{
    ViewData["Title"] = "Bug Report";
}
<h2>@ViewData["Title"]</h2>

<form>
    <div class="input-group">
        <label for="name">Name:</label>
        <input class="form-control" type="text" name="name"/>
    </div>
    <div class="input-group">
        <label for='steam'>Steam Name:</label>
        <input class="form-control" type="text" name="steam"/>
    </div>
    <div class='input-group'>
        <label for='description'>Bug:</label>
        <textarea class="form-control" name="description"></textarea>
    </div>
    <button class='btn btn-default'>Submit</button>
</form>
