@page
@using LegionTDServerReborn.Models
@using LegionTDServerReborn.Extension
@using LegionTDServerReborn.Helpers
@using Microsoft.AspNetCore.Html
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<h1>Welcome to Legion TD Reborn</h1>

<a href='https://github.com/Roofkiller/LegionTD-Reborn'>
    <img src='~/images/GitHub-Mark-64px.png' alt='GitHub Logo'>
</a>

<a href='https://steamcommunity.com/sharedfiles/filedetails/?id=541930328'>
    <img src='~/images/steam-icon.png' alt='Steam Logo'>
</a>
