@page
@using LegionTDServerReborn.Models
@using LegionTDServerReborn.Extensions
@using LegionTDServerReborn.Helpers
@using Microsoft.AspNetCore.Html
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<h1>Welcome to Legion TD Reborn</h1>

<div class='row'>
    @{
        var dictionary = new Dictionary<string, string>();
        dictionary["Monthly Players"] = $"{Model.MonthlyPlayers}";
        dictionary["Daily Matches"] = $"{Model.DailyMatches}";
        @foreach (var pair in dictionary) {
            <div class='col-md-3 col-sm-3 col-xs-6 match-info'>
                <p class='match-info-title text-center'>@pair.Key</p>
                <p class='match-info-value text-center'>@Html.Raw(pair.Value)</p>
            </div>
        }
    }
</div>

<a href='https://github.com/Roofkiller/LegionTD-Reborn'>
    <img src='~/images/GitHub-Mark-64px.png' alt='GitHub Logo'>
</a>

<a href='https://steamcommunity.com/sharedfiles/filedetails/?id=541930328'>
    <img src='~/images/steam-icon.png' alt='Steam Logo'>
</a>
